# Rust / Cargo
/target
debug/

# rustfmt / clippy --fix backups
**/*.rs.bk

# MSVC debugging info
*.pdb

# Cursor
.cursor/
.cursorindexingignore

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
.venv/
/dist/
.pytest_cache/